.cart-no{
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 50%;
  font-size: 1em;
  background: blueviolet;
  color: white;
  text-align: center;
  top: -18px;
  right: 32px;
}
