
<div class="container mt-5">
  <div class="row" *ngIf="order">
    <div class="col-8">
      <app-basket-summary
        [items]="order.orderItems"
        [isBasket]="false"
        [isOrder]="true"
      >
      </app-basket-summary>
    </div>

    <div class="col-4">
      <div class="bg-light px-4 py-3 text-uppercase fw-bold">Order Summary</div>
      <div class="p-4">
        <ul class="list-unstyled mb-1">
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Subtotal</strong>
            <strong class="text-muted">{{order.subtotal | currency}}</strong>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping and handling</strong>
            <strong class="text-muted">{{order.shippingPrice | currency}}</strong>
          </li>
          <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Total</strong>
            <strong class="text-muted">{{order.total | currency}}</strong>
          </li>
        </ul>

      </div>

    </div>

  </div>

</div>
