
<nav class="navbar navbar-expand-md bg-light">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div>
      <img src="../../../assets/images/logo.png" alt="logo" [routerLink]="['/']" class="logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="align-items-center" id="navbarNavDropdown">
      <ul class="navbar-nav text-uppercase">
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/']" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/test-error" routerLinkActive="active">Errors</a>
        </li>
      </ul>
    </div>

    <div>
      <a class="position-relative" routerLink="/basket">
        <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
        <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
      </a>
      <a class="btn btn-outline-success me-2" type="submit">Sign up</a>
      <a class="btn btn-outline-secondary me-3" type="submit">Sign up</a>
    </div>
  </div>
</nav>
